.gform-body {
  .gfield {
    color: white !important;
  }

  @media screen and (min-width: 700px) {
    .gfield {
      grid-column: span 4 !important;
    }
    .gfield--type-textarea {
      grid-row: span 2 !important;
    }
  }

  // .gfield {
  //   order: 3; groter getal dus verder naar beneden order werkt van klein naar groot
  // }

  // @media screen and (max-width: 991.9px) {
  //   .gfield--type-textarea {
  //     order: 2;
  //   }
  // }

  // Sm Screen
  @media screen and (max-width: 700px) {
    .gfield--type-textarea {
      order: 1 !important;
    }
  }

  // LG Screen
  @media (min-width: 700px) {
    .gfield--type-textarea {
      order: 0 !important;
    }
  }
}

.gform_title {
  color: #fff;

  /* Desktop/H3 */
  font-family: Manrope;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
}

.gform_description {
  color: #9aa0b7;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.2px;
}
.gform_required_legend {
  color: #fff;
}

/*Gravity  Forms field label */
.gform-theme--framework,
.gform-field-label,
.gform-label,
.gfield_label,
.name-label {
  color: white !important;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}

// Btn Replace

/* Default: Center align for small screens */
.gform-theme--foundation .gform_footer,
.gform-theme--foundation .gform_page_footer {
  justify-content: end !important;
}
// @media (min-width: 768px) {
//   .gform-theme--foundation .gform_footer,
//   .gform-theme--foundation .gform_page_footer {
//     justify-content: end !important;
//   }
// }

/* For large screens: Align to the end */
@media (min-width: 1024px) {
  .gform-theme--foundation .gform_footer,
  .gform-theme--foundation .gform_page_footer {
    justify-content: end !important;
  }
}

/* For small screens: Match input field size */
@media (max-width: 767px) {
  .gform_wrapper .gform_footer .gform_button {
    width: 100% !important;
    height: 40px !important;
    padding: 10px 15px 10px 40px !important;
    padding: 0;
    box-sizing: border-box !important;
  }
}

// BTN
.gform_wrapper .gform_footer .gform_button {
  padding: 12px 15px !important;
  align-items: center;
  border-radius: 8px !important;
  background-color: #e94271 !important;
  color: #fff !important;
  border: none !important;
  display: inline-flex !important;
  align-items: center !important;
}

.gform_heading .gform_required_legend {
  display: flex !important;
  justify-content: end !important;
}
// first input field
.gform-theme--foundation .gform-grid-col span {
  inline-size: 100% !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
}
// Input field
.gform-theme--foundation .gfield .ginput_password.large,
.gform-theme--foundation .gfield input.large,
.gform-theme--foundation .gfield select.large,
.gform-theme--foundation .gform-grid-col input {
  inline-size: 100% !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
}

.gform-theme--foundation .gfield textarea {
  inline-size: 100% !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
}

// .comments-class {
//   border-radius: 8px !important;
//   background-color: #6a1111 !important;
//   color: red !important;
//   font-size: 14px !important;
// }

.email-field-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 308px;
}

.email-field-container input[type="email"] {
  // width: 356px !important;
  width: 100% !important;
  height: 48px !important;
  padding-right: 100px !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  position: relative !important;
  padding-left: 6px !important;
}

.email-field-container .submit-btn {
  position: absolute !important;
  // top: 6px !important;
  top: 4px !important;
  right: 6px !important;
  bottom: 0;
  height: 36px;
  border: none;
  background-color: #274083 !important;
  color: white;
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gform_heading .gform_required_legend p span {
  content: "required";
}

// New Styling

.gform-theme--foundation .gfield textarea.medium {
  min-block-size: 10.5rem !important;
  height: 100px !important;
}
