.gform-body {
  .gfield {
    color: white !important;
  }

  @media screen and (min-width: 992px) {
    .gfield {
      grid-column: span 4 !important;
    }
    .gfield--type-textarea {
      grid-row: span 2 !important;
    }
  }
  // .gfield {
  //   order: 3; groter getal dus verder naar beneden order werkt van klein naar groot
  // }
  @media screen and (max-width: 991.9px) {
    .gfield--type-textarea {
      order: 2;
    }
  }
}

.gform_title {
  color: #fff;

  /* Desktop/H3 */
  font-family: Manrope;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
}

.gform_description {
  color: #9aa0b7;

  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.2px;
}
.gform_required_legend {
  color: #fff;
}

/*Gravity  Forms field label */
.gform-theme--framework,
.gform-field-label,
.gform-label,
.gfield_label,
.name-label {
  // color: #fff;
  color: white !important;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}

// Btn
.gform-theme--foundation .gform_footer,
.gform-theme--foundation .gform_page_footer {
  justify-content: end;
}

.gform-theme--foundation .gform_button button {
}
.gform_footer,
.gform_button button {
  // background-color: #e94271 !important;
  // text-align: right;
}
