.gform-body {
  .gfield {
    color: white !important;
  }

  @media screen and (min-width: 992px) {
    .gfield {
      grid-column: span 4 !important;
    }
    .gfield--type-textarea {
      grid-row: span 2 !important;
    }
  }

  // .gfield {
  //   order: 3; groter getal dus verder naar beneden order werkt van klein naar groot
  // }
  @media screen and (max-width: 991.9px) {
    .gfield--type-textarea {
      order: 2;
    }
  }
}

.gform_title {
  color: #fff;

  /* Desktop/H3 */
  font-family: Manrope;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
}

.gform_description {
  color: #9aa0b7;

  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.2px;
}
.gform_required_legend {
  color: #fff;
}

/*Gravity  Forms field label */
.gform-theme--framework,
.gform-field-label,
.gform-label,
.gfield_label,
.name-label {
  // color: #fff;
  color: white !important;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}

// Btn
.gform-theme--foundation .gform_footer,
.gform-theme--foundation .gform_page_footer {
  justify-content: end;
}

.gform-theme--foundation .gform_button button {
}
.gform_footer,
.gform_button button {
  // background-color: #e94271 !important;
  // text-align: right;
}

// .email-field-container {
//   position: relative;
//   display: flex;
//   align-items: center;
// }

// .email-field-container input[type="email"] {
//   width: 100%;
//   padding-right: 100px;
//   box-sizing: border-box;
// }

// .email-field-container .submit-btn {
//   position: absolute;
//   right: 0;
//   height: 100%;
//   border: none;
//   background-color: #e94271;
//   color: white;
//   padding: 0 20px;
//   cursor: pointer;
//   border-radius: 0 5px 5px 0;
// }

.email-field-container {
  position: relative;
  display: flex;
  align-items: center;
}

.email-field-container input[type="email"] {
  width: 356px !important;
  height: 48px !important;
  padding-right: 100px;
  box-sizing: border-box;
}

.email-field-container .submit-btn {
  position: absolute;
  right: 69px !important;
  top: 6px;
  bottom: 0;
  height: 36px;
  border: none;
  background-color: #e94271 !important;
  color: white;
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .email-field-container2 .submit-btn {
//   position: absolute;
//   right: 69px !important;
//   top: 6px;
//   bottom: 0;
//   height: 36px;
//   border: none;
//   background-color: #274083 !important;
//   color: white;
//   padding: 12px 15px;
//   cursor: pointer;
//   border-radius: 4px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
