@import "variables";
@import "~bootstrap";
@import "form";

@import url("https://use.typekit.net/tks8jzx.css");

//@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap");

//@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap");

// Fonts Sora
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
// Fonts  Manrope
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* General styling */
html,
body {
  margin: 0 !important;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

a:any-link {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

/* Imports */
@import "header";
@import "footer";
@import "pages/front-page";
@import "pages/page";
@import "pages/login";
