@import "variables";
@import "~bootstrap";
@import "components/form";
@import "components/buttons.scss";

@import url("https://use.typekit.net/tks8jzx.css");

// Fonts Sora
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
// Fonts  Manrope
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* General styling */
html,
body {
  margin: 0 !important;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  // overflow-x: hidden;
  overflow-x: clip;
}

// .container {
//   max-width: 100vw;
// }

a:any-link {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

::selection {
  background-color: #ffcc00;
}

/* Imports */
@import "header";
@import "footer";
@import "pages/front-page";
@import "pages/page";
@import "pages/login";
